.notfound-container {
  text-align: center;
  padding: 60px;
}

.notfound-container h1 {
  font-size: 6rem;
  margin-bottom: 10px;
}

.home-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 18px;
  background: #5a57ff;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.home-btn:hover {
  background: #4845e6;
}
